<nav class="navbar navbar-expand-md navbar-light bg-dark">
    <a href="/" class="navbar-brand"><img src="images/home/logo.png"></a>
    <ul class="navbar-nav">
        <li class="nav-item dropdown"><a
                class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle" href=""
                data-toggle="dropdown">ระบบหลังบ้าน (STORE)</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/manage">จัดการสินค้า</a>

                <a class="dropdown-item" href="/addForm">บันทึกสินค้า</a>
            </div>
        </li>

        <li class="nav-item dropdown"><a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle"
                href="" data-toggle="dropdown">การขาย (SALES)</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/sales/new">ขายสินค้า</a>
        
                <a class="dropdown-item" href="/sales/all">แสดงรายการขาย</a>
            </div>
        </li>

        <li class="nav-item dropdown"><a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle"
                href="" data-toggle="dropdown">สมาชิก (MEMBERS)</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/register">สมัครสมาชิก</a>
            </div>
        </li>

        <li class="nav-item dropdown"><a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle"
                href="" data-toggle="dropdown">เข้าสู่ระบบ (LOGIN)</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/login">Login</a>        
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
        </li>

    </ul>
    
</nav>